body{
    background:url(./imagenes/Fondo2.jpg);
    background-attachment: fixed;  
    color: black;
}

div.titulo{
    text-align: center;
}

div.bebeImage{
    text-align: center;
}

p{
  text-align: center;
  background-color:  rgb(233, 199, 10);
  font-size: 50px;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 20%;
}